USE [master]
GO
/****** Object:  Database [DB_SIFRE]    Script Date: 31/07/2025 0:54:49 ******/
CREATE DATABASE [DB_SIFRE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SIFRE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_SIFRE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_SIFRE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_SIFRE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SIFRE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SIFRE]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntegrityControl]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegrityControl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](255) NOT NULL,
	[CheckDigitVertical] [nvarchar](max) NOT NULL,
	[FechaCalculo] [datetime] NOT NULL,
 CONSTRAINT [PK_IntegrityControl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Labels]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Labels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[isDefault] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
	[Module] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NominationComments]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NominationComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NominationId] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NominationHistory]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NominationHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NominationId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NominationRules]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NominationRules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RuleName] [nvarchar](255) NOT NULL,
	[RuleValue] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nominations]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nominations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NominatorUserId] [uniqueidentifier] NOT NULL,
	[NomineeUserId] [uniqueidentifier] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NominationStatuses]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NominationStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectiveCategories]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectiveCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectiveComments]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectiveComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectiveId] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectiveHistory]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectiveHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjectiveId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Progress] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectivePriorities]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectivePriorities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objectives]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objectives](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[ResponsibleUserId] [uniqueidentifier] NOT NULL,
	[AssignedUserId] [uniqueidentifier] NOT NULL,
	[StatusId] [int] NOT NULL,
	[PriorityId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Progress] [int] NOT NULL,
	[ReviewDate] [datetime] NULL,
	[PointsAssigned] [int] NOT NULL,
	[RewardPolicyId] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectiveStatuses]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectiveStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Type] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointTransfers]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointTransfers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [uniqueidentifier] NOT NULL,
	[ReceiverUserId] [uniqueidentifier] NOT NULL,
	[PointsTransferred] [int] NOT NULL,
	[TransferDate] [datetime] NOT NULL,
	[CheckDigitHorizontal] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyCategories]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLogs]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Points] [bigint] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[EndDate] [datetime] NULL,
	[ProductId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Points] [bigint] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[ProductName] [varchar](100) NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[CheckDigitHorizontal] [varchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecognitionCategories]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecognitionCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Points] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RewardPolicies]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardPolicies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PolicyName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ConversionRate] [decimal](10, 2) NOT NULL,
	[AccumulationLimit] [decimal](10, 2) NOT NULL,
	[EffectiveFrom] [datetime] NOT NULL,
	[EffectiveTo] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[CategoryId] [int] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleComponent]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleComponent](
	[ParentPermissionId] [int] NULL,
	[ChildPermissionId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Points] [bigint] NOT NULL,
	[ProductId] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[CheckDigitHorizontal] [varchar](max) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translations]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translations](
	[LanguageId] [int] NOT NULL,
	[LabelId] [int] NOT NULL,
	[Translation] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Translations] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC,
	[LabelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31/07/2025 0:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[LastName] [nvarchar](255) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[LanguageId] [int] NULL,
	[RoleId] [int] NULL,
	[Points] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Description]) VALUES (1, N'Moda                                                                                                ')
INSERT [dbo].[Categories] ([Id], [Description]) VALUES (2, N'Entretenimiento                                                                                     ')
INSERT [dbo].[Categories] ([Id], [Description]) VALUES (3, N'Giftcard                                                                                            ')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[IntegrityControl] ON 

INSERT [dbo].[IntegrityControl] ([Id], [TableName], [CheckDigitVertical], [FechaCalculo]) VALUES (1, N'Transactions', N'a643ac44522e38da5f1ea1152026d5add017dac5a4e9f7479b9c80962e1af73f', CAST(N'2025-07-25T15:33:16.750' AS DateTime))
INSERT [dbo].[IntegrityControl] ([Id], [TableName], [CheckDigitVertical], [FechaCalculo]) VALUES (2, N'PointTransfers', N'1b76ee48f20009b1ae92b7bee198f442bc4afb2a5f4768e4dbaeee7ce193cb1e', CAST(N'2025-07-25T15:33:28.460' AS DateTime))
INSERT [dbo].[IntegrityControl] ([Id], [TableName], [CheckDigitVertical], [FechaCalculo]) VALUES (3, N'Products', N'0dc4363a2f114bfab74cc9a79cf3ac0151b4305e9f4891f5c254680c2310d8e3', CAST(N'2025-07-25T15:40:02.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[IntegrityControl] OFF
GO
SET IDENTITY_INSERT [dbo].[Labels] ON 

INSERT [dbo].[Labels] ([Id], [Name]) VALUES (1004, N'MANAGE_LANG')
INSERT [dbo].[Labels] ([Id], [Name]) VALUES (1005, N'PRODUCTS')
INSERT [dbo].[Labels] ([Id], [Name]) VALUES (1006, N'NO_ROWS')
SET IDENTITY_INSERT [dbo].[Labels] OFF
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([Id], [Name], [isDefault]) VALUES (1, N'English', 0)
INSERT [dbo].[Languages] ([Id], [Name], [isDefault]) VALUES (2, N'Spanish', 1)
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [Message], [Type], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Module]) VALUES (1, N'Se creó el idioma Puaner', 0, N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2024-06-24T20:27:39.697' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Logs] ([Id], [Message], [Type], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Module]) VALUES (2, N'Se creó el idioma Prueba', 2, N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2024-06-24T20:28:55.953' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Logs] ([Id], [Message], [Type], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [Module]) VALUES (3, N'Se borró el idioma Puaner', 0, N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2024-06-24T20:30:04.483' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[NominationComments] ON 

INSERT [dbo].[NominationComments] ([Id], [NominationId], [Comment], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, 1, N'Comentario adicional sobre la innovación.', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.630' AS DateTime), NULL, NULL)
INSERT [dbo].[NominationComments] ([Id], [NominationId], [Comment], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, 2, N'Comentario adicional sobre la colaboración.', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.630' AS DateTime), NULL, NULL)
INSERT [dbo].[NominationComments] ([Id], [NominationId], [Comment], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, 3, N'Comentario adicional sobre la excelencia.', N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2025-06-22T21:45:18.630' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[NominationComments] OFF
GO
SET IDENTITY_INSERT [dbo].[NominationHistory] ON 

INSERT [dbo].[NominationHistory] ([Id], [NominationId], [StatusId], [CreatedBy], [CreatedAt]) VALUES (1, 1, 1, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.627' AS DateTime))
INSERT [dbo].[NominationHistory] ([Id], [NominationId], [StatusId], [CreatedBy], [CreatedAt]) VALUES (2, 2, 1, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.627' AS DateTime))
INSERT [dbo].[NominationHistory] ([Id], [NominationId], [StatusId], [CreatedBy], [CreatedAt]) VALUES (3, 3, 1, N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2025-06-22T21:45:18.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[NominationHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[NominationRules] ON 

INSERT [dbo].[NominationRules] ([Id], [RuleName], [RuleValue], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'MaxNominationsPerUser', N'5', N'Número máximo de nominaciones por usuario al mes', 1, N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', CAST(N'2025-06-22T21:45:18.630' AS DateTime), NULL, NULL)
INSERT [dbo].[NominationRules] ([Id], [RuleName], [RuleValue], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'EligibilityMonths', N'6', N'Meses mínimos de antigüedad para ser nominado', 1, N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', CAST(N'2025-06-22T21:45:18.630' AS DateTime), NULL, NULL)
INSERT [dbo].[NominationRules] ([Id], [RuleName], [RuleValue], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'AllowedCategories', N'1,2,3,4', N'Categorías permitidas para nominaciones', 1, N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', CAST(N'2025-06-22T21:45:18.630' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[NominationRules] OFF
GO
SET IDENTITY_INSERT [dbo].[Nominations] ON 

INSERT [dbo].[Nominations] ([Id], [NominatorUserId], [NomineeUserId], [CategoryId], [StatusId], [Comments], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'08095958-3051-46e0-8869-6e8619a20643', N'3a205255-2224-47cf-9207-74426cbb7f54', 1, 1, N'Excelente trabajo en innovación.', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.623' AS DateTime), NULL, NULL)
INSERT [dbo].[Nominations] ([Id], [NominatorUserId], [NomineeUserId], [CategoryId], [StatusId], [Comments], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'08095958-3051-46e0-8869-6e8619a20643', N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', 2, 1, N'Gran colaboración en el proyecto.', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.623' AS DateTime), NULL, NULL)
INSERT [dbo].[Nominations] ([Id], [NominatorUserId], [NomineeUserId], [CategoryId], [StatusId], [Comments], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'3a205255-2224-47cf-9207-74426cbb7f54', N'08095958-3051-46e0-8869-6e8619a20643', 3, 1, N'Excelencia en la entrega del producto.', N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2025-06-22T21:45:18.623' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Nominations] OFF
GO
SET IDENTITY_INSERT [dbo].[NominationStatuses] ON 

INSERT [dbo].[NominationStatuses] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Pendiente', N'La nominación está pendiente', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.620' AS DateTime), NULL, NULL)
INSERT [dbo].[NominationStatuses] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Aprobada', N'La nominación ha sido aprobada', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.620' AS DateTime), NULL, NULL)
INSERT [dbo].[NominationStatuses] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Rechazada', N'La nominación ha sido rechazada', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.620' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[NominationStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectiveCategories] ON 

INSERT [dbo].[ObjectiveCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Ventas', N'Objetivos de ventas', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.587' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectiveCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Desarrollo', N'Objetivos de desarrollo', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.587' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectiveCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Soporte', N'Objetivos de soporte', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.587' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ObjectiveCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectiveComments] ON 

INSERT [dbo].[ObjectiveComments] ([Id], [ObjectiveId], [Comment], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, 1, N'Iniciando la venta de unidades.', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.603' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectiveComments] ([Id], [ObjectiveId], [Comment], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, 1, N'Vendidas 50 unidades, vamos bien.', N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2025-07-02T21:45:18.603' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectiveComments] ([Id], [ObjectiveId], [Comment], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, 2, N'Comenzando el desarrollo de la nueva característica.', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.603' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ObjectiveComments] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectiveHistory] ON 

INSERT [dbo].[ObjectiveHistory] ([Id], [ObjectiveId], [StatusId], [Progress], [CreatedBy], [CreatedAt]) VALUES (1, 1, 1, 0, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.610' AS DateTime))
INSERT [dbo].[ObjectiveHistory] ([Id], [ObjectiveId], [StatusId], [Progress], [CreatedBy], [CreatedAt]) VALUES (2, 1, 2, 50, N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2025-07-02T21:45:18.610' AS DateTime))
INSERT [dbo].[ObjectiveHistory] ([Id], [ObjectiveId], [StatusId], [Progress], [CreatedBy], [CreatedAt]) VALUES (3, 1, 3, 100, N'3a205255-2224-47cf-9207-74426cbb7f54', CAST(N'2025-07-22T21:45:18.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[ObjectiveHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectivePriorities] ON 

INSERT [dbo].[ObjectivePriorities] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Alta', N'Objetivos de alta prioridad', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.590' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectivePriorities] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Media', N'Objetivos de prioridad media', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.590' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectivePriorities] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Baja', N'Objetivos de baja prioridad', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.590' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ObjectivePriorities] OFF
GO
SET IDENTITY_INSERT [dbo].[Objectives] ON 

SET IDENTITY_INSERT [dbo].[Objectives] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectiveStatuses] ON 

INSERT [dbo].[ObjectiveStatuses] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Pendiente', N'El objetivo está pendiente', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectiveStatuses] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'En Progreso', N'El objetivo está en progreso', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, NULL)
INSERT [dbo].[ObjectiveStatuses] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Completado', N'El objetivo está completado', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ObjectiveStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Id], [Name], [Type]) VALUES (15, N'Cambiar clave', N'CAMBIAR_CLAVE')
INSERT [dbo].[Permissions] ([Id], [Name], [Type]) VALUES (16, N'Consultar puntos', N'CONSULTAR_PUNTOS')
INSERT [dbo].[Permissions] ([Id], [Name], [Type]) VALUES (17, N'Canjear puntos', N'CANJEAR_PUNTOS')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[PointTransfers] ON 

INSERT [dbo].[PointTransfers] ([Id], [SenderUserId], [ReceiverUserId], [PointsTransferred], [TransferDate], [CheckDigitHorizontal]) VALUES (1, N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', N'08095958-3051-46e0-8869-6e8619a20643', 1000, CAST(N'2025-07-25T15:33:28.453' AS DateTime), N'c26a30df8220f0f6d6de466b58ca8825b6008acededa477337602cb4e6eddd39')
SET IDENTITY_INSERT [dbo].[PointTransfers] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyCategories] ON 

INSERT [dbo].[PolicyCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'General', N'Políticas generales', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.580' AS DateTime), NULL, NULL)
INSERT [dbo].[PolicyCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Ventas', N'Políticas relacionadas con ventas', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.580' AS DateTime), NULL, NULL)
INSERT [dbo].[PolicyCategories] ([Id], [Name], [Description], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Desarrollo', N'Políticas relacionadas con desarrollo', N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.580' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PolicyCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductLogs] ON 

INSERT [dbo].[ProductLogs] ([Id], [ProductName], [Description], [Points], [Category], [StartDate], [IsBlocked], [EndDate], [ProductId]) VALUES (1, N'Prueba nueva', N'Gestor 4', 10000, N'Entretenimiento                                                                                     ', CAST(N'2024-09-30T18:28:50.550' AS DateTime), 0, NULL, 12)
INSERT [dbo].[ProductLogs] ([Id], [ProductName], [Description], [Points], [Category], [StartDate], [IsBlocked], [EndDate], [ProductId]) VALUES (2, N'Prueba nueva', N'Gestor 4', 10000, N'Entretenimiento                                                                                     ', CAST(N'2024-09-30T18:28:45.000' AS DateTime), 1, NULL, 12)
INSERT [dbo].[ProductLogs] ([Id], [ProductName], [Description], [Points], [Category], [StartDate], [IsBlocked], [EndDate], [ProductId]) VALUES (3, N'Prueba 12', N'Prueba 12', 1444, N'Entretenimiento                                                                                     ', CAST(N'2024-09-30T18:32:33.820' AS DateTime), 0, NULL, 13)
SET IDENTITY_INSERT [dbo].[ProductLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [CategoryId], [Points], [StartDate], [EndDate], [ProductName], [Description], [CheckDigitHorizontal]) VALUES (1, 2, 15000, CAST(N'2024-07-08T01:51:49.737' AS DateTime), NULL, N'Cine 2x1', N'Entradas al 2x1 en Hoyts', N'8de7ae997f3b03c85d99c29bce8081d8828f618353fa2259c0d3e0eb03118e29')
INSERT [dbo].[Products] ([Id], [CategoryId], [Points], [StartDate], [EndDate], [ProductName], [Description], [CheckDigitHorizontal]) VALUES (2, 3, 900, CAST(N'2024-07-08T01:56:27.327' AS DateTime), NULL, N'70 mil pesos en Havanna', N'Giftcard de 70 mil pesos en havanna', N'147e09611a60cc2668afd01aa358f2151f72041c5a18e7d38cf0e51297e553b5')
INSERT [dbo].[Products] ([Id], [CategoryId], [Points], [StartDate], [EndDate], [ProductName], [Description], [CheckDigitHorizontal]) VALUES (3, 2, 1000, CAST(N'2024-07-15T07:47:49.600' AS DateTime), CAST(N'2024-09-30T18:38:20.273' AS DateTime), N'Teatro 25%', N'Teatro al 25% de descuento los días jueves', N'26e5a15189cb3fff44f92382c1458fef5e1135a537d4e1303e5c989f8c7cef0d')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RecognitionCategories] ON 

INSERT [dbo].[RecognitionCategories] ([Id], [Name], [Description], [Points], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Innovación', N'Reconocimiento por innovación', 500, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.617' AS DateTime), NULL, NULL)
INSERT [dbo].[RecognitionCategories] ([Id], [Name], [Description], [Points], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Colaboración', N'Reconocimiento por colaboración', 300, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.617' AS DateTime), NULL, NULL)
INSERT [dbo].[RecognitionCategories] ([Id], [Name], [Description], [Points], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Excelencia', N'Reconocimiento por excelencia', 700, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.617' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[RecognitionCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[RewardPolicies] ON 

INSERT [dbo].[RewardPolicies] ([Id], [PolicyName], [Description], [ConversionRate], [AccumulationLimit], [EffectiveFrom], [EffectiveTo], [IsActive], [CategoryId], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Política General', N'Política de recompensas general', CAST(1.50 AS Decimal(10, 2)), CAST(10000.00 AS Decimal(10, 2)), CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, 1, 1, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, NULL)
INSERT [dbo].[RewardPolicies] ([Id], [PolicyName], [Description], [ConversionRate], [AccumulationLimit], [EffectiveFrom], [EffectiveTo], [IsActive], [CategoryId], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Política de Ventas', N'Política de recompensas para ventas', CAST(2.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, 1, 2, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, NULL)
INSERT [dbo].[RewardPolicies] ([Id], [PolicyName], [Description], [ConversionRate], [AccumulationLimit], [EffectiveFrom], [EffectiveTo], [IsActive], [CategoryId], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Política de Desarrollo', N'Política de recompensas para desarrollo', CAST(1.80 AS Decimal(10, 2)), CAST(12000.00 AS Decimal(10, 2)), CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, 1, 3, N'08095958-3051-46e0-8869-6e8619a20643', CAST(N'2025-06-22T21:45:18.583' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[RewardPolicies] OFF
GO
INSERT [dbo].[RoleComponent] ([ParentPermissionId], [ChildPermissionId]) VALUES (27, 15)
INSERT [dbo].[RoleComponent] ([ParentPermissionId], [ChildPermissionId]) VALUES (27, 16)
INSERT [dbo].[RoleComponent] ([ParentPermissionId], [ChildPermissionId]) VALUES (27, 17)
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [UserId], [Points], [ProductId], [TransactionDate], [CheckDigitHorizontal]) VALUES (1, N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', 1500, 1, CAST(N'2024-07-08' AS Date), N'87c7e2987bcba68172a70eba01a66b21658d8745e4001968070f9550178642e9')
INSERT [dbo].[Transactions] ([Id], [UserId], [Points], [ProductId], [TransactionDate], [CheckDigitHorizontal]) VALUES (2, N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', 15000, 1, CAST(N'2024-07-15' AS Date), N'3633a10495290c94686b968b8464224447225ef91e6242c85982e98fdd5bba1b')
INSERT [dbo].[Transactions] ([Id], [UserId], [Points], [ProductId], [TransactionDate], [CheckDigitHorizontal]) VALUES (3, N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', 15000, 1, CAST(N'2024-07-15' AS Date), N'382c13c15d79d809378257c8e67303281e9b67f9fb8b43e5b5fdd4b91ed4873f')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
INSERT [dbo].[Translations] ([LanguageId], [LabelId], [Translation]) VALUES (1, 1004, N'Lang management')
INSERT [dbo].[Translations] ([LanguageId], [LabelId], [Translation]) VALUES (1, 1005, N'Products')
INSERT [dbo].[Translations] ([LanguageId], [LabelId], [Translation]) VALUES (1, 1006, N'No rows selected')
GO
INSERT [dbo].[Users] ([Id], [Email], [Username], [Password], [FirstName], [LastName], [IsBlocked], [LanguageId], [RoleId], [Points]) VALUES (N'08095958-3051-46e0-8869-6e8619a20643', N'gestor@admin.com', N'Gestor', N'9BA3A747D2E934A8964C121DFD29905096D84CA4C99F0E479EA5CA13BE5D86BE', N'Gestor', N'Comercial', 0, 1, 28, 86000)
INSERT [dbo].[Users] ([Id], [Email], [Username], [Password], [FirstName], [LastName], [IsBlocked], [LanguageId], [RoleId], [Points]) VALUES (N'3a205255-2224-47cf-9207-74426cbb7f54', N'lautaro.bazaes@gmail.com', N'Lautaro', N'9BA3A747D2E934A8964C121DFD29905096D84CA4C99F0E479EA5CA13BE5D86BE', N'Lautaro', N'Bazaes', 0, 1, 27, 9000)
INSERT [dbo].[Users] ([Id], [Email], [Username], [Password], [FirstName], [LastName], [IsBlocked], [LanguageId], [RoleId], [Points]) VALUES (N'2eb2ce71-c0db-43f3-a6fb-d23dabd608df', N'admin@admin.com', N'Admin', N'9BA3A747D2E934A8964C121DFD29905096D84CA4C99F0E479EA5CA13BE5D86BE', N'Admin', N'Admin', 0, 2, 26, 891199)
GO
/****** Object:  Index [IX_Languages_isDefault]    Script Date: 31/07/2025 0:54:49 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Languages_isDefault] ON [dbo].[Languages]
(
	[isDefault] ASC
)
WHERE ([isDefault]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E43059E108]    Script Date: 31/07/2025 0:54:49 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C47112DD]    Script Date: 31/07/2025 0:54:49 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IntegrityControl] ADD  DEFAULT (getdate()) FOR [FechaCalculo]
GO
ALTER TABLE [dbo].[Languages] ADD  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[NominationComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NominationHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NominationRules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[NominationRules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Nominations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NominationStatuses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjectiveCategories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjectiveComments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjectiveHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjectivePriorities] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Objectives] ADD  DEFAULT ((0)) FOR [Progress]
GO
ALTER TABLE [dbo].[Objectives] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjectiveStatuses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PointTransfers] ADD  DEFAULT (getdate()) FOR [TransferDate]
GO
ALTER TABLE [dbo].[PolicyCategories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RecognitionCategories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RewardPolicies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RewardPolicies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Points]  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NominationComments]  WITH CHECK ADD  CONSTRAINT [FK_NominationComments_Nominations] FOREIGN KEY([NominationId])
REFERENCES [dbo].[Nominations] ([Id])
GO
ALTER TABLE [dbo].[NominationComments] CHECK CONSTRAINT [FK_NominationComments_Nominations]
GO
ALTER TABLE [dbo].[NominationComments]  WITH CHECK ADD  CONSTRAINT [FK_NominationComments_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NominationComments] CHECK CONSTRAINT [FK_NominationComments_Users_CreatedBy]
GO
ALTER TABLE [dbo].[NominationComments]  WITH CHECK ADD  CONSTRAINT [FK_NominationComments_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NominationComments] CHECK CONSTRAINT [FK_NominationComments_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[NominationHistory]  WITH CHECK ADD  CONSTRAINT [FK_NominationHistory_Nominations] FOREIGN KEY([NominationId])
REFERENCES [dbo].[Nominations] ([Id])
GO
ALTER TABLE [dbo].[NominationHistory] CHECK CONSTRAINT [FK_NominationHistory_Nominations]
GO
ALTER TABLE [dbo].[NominationHistory]  WITH CHECK ADD  CONSTRAINT [FK_NominationHistory_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[NominationStatuses] ([Id])
GO
ALTER TABLE [dbo].[NominationHistory] CHECK CONSTRAINT [FK_NominationHistory_Status]
GO
ALTER TABLE [dbo].[NominationHistory]  WITH CHECK ADD  CONSTRAINT [FK_NominationHistory_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NominationHistory] CHECK CONSTRAINT [FK_NominationHistory_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[RecognitionCategories] ([Id])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Categories]
GO
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[NominationStatuses] ([Id])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Status]
GO
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Users_Nominator] FOREIGN KEY([NominatorUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Users_Nominator]
GO
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Users_Nominee] FOREIGN KEY([NomineeUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Users_Nominee]
GO
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[NominationStatuses]  WITH CHECK ADD  CONSTRAINT [FK_NominationStatuses_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NominationStatuses] CHECK CONSTRAINT [FK_NominationStatuses_Users_CreatedBy]
GO
ALTER TABLE [dbo].[NominationStatuses]  WITH CHECK ADD  CONSTRAINT [FK_NominationStatuses_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[NominationStatuses] CHECK CONSTRAINT [FK_NominationStatuses_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[ObjectiveCategories]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveCategories_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveCategories] CHECK CONSTRAINT [FK_ObjectiveCategories_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ObjectiveCategories]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveCategories_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveCategories] CHECK CONSTRAINT [FK_ObjectiveCategories_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[ObjectiveComments]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveComments_Objectives] FOREIGN KEY([ObjectiveId])
REFERENCES [dbo].[Objectives] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveComments] CHECK CONSTRAINT [FK_ObjectiveComments_Objectives]
GO
ALTER TABLE [dbo].[ObjectiveComments]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveComments_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveComments] CHECK CONSTRAINT [FK_ObjectiveComments_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ObjectiveComments]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveComments_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveComments] CHECK CONSTRAINT [FK_ObjectiveComments_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[ObjectiveHistory]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveHistory_Objectives] FOREIGN KEY([ObjectiveId])
REFERENCES [dbo].[Objectives] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveHistory] CHECK CONSTRAINT [FK_ObjectiveHistory_Objectives]
GO
ALTER TABLE [dbo].[ObjectiveHistory]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveHistory_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[ObjectiveStatuses] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveHistory] CHECK CONSTRAINT [FK_ObjectiveHistory_Status]
GO
ALTER TABLE [dbo].[ObjectiveHistory]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveHistory_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveHistory] CHECK CONSTRAINT [FK_ObjectiveHistory_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ObjectivePriorities]  WITH CHECK ADD  CONSTRAINT [FK_ObjectivePriorities_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectivePriorities] CHECK CONSTRAINT [FK_ObjectivePriorities_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ObjectivePriorities]  WITH CHECK ADD  CONSTRAINT [FK_ObjectivePriorities_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectivePriorities] CHECK CONSTRAINT [FK_ObjectivePriorities_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ObjectiveCategories] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_Categories]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_Priority] FOREIGN KEY([PriorityId])
REFERENCES [dbo].[ObjectivePriorities] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_Priority]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_RewardPolicies] FOREIGN KEY([RewardPolicyId])
REFERENCES [dbo].[RewardPolicies] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_RewardPolicies]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[ObjectiveStatuses] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_Status]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_Users_Assigned] FOREIGN KEY([AssignedUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_Users_Assigned]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_Users_Responsible] FOREIGN KEY([ResponsibleUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_Users_Responsible]
GO
ALTER TABLE [dbo].[Objectives]  WITH CHECK ADD  CONSTRAINT [FK_Objectives_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Objectives] CHECK CONSTRAINT [FK_Objectives_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[ObjectiveStatuses]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveStatuses_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveStatuses] CHECK CONSTRAINT [FK_ObjectiveStatuses_Users_CreatedBy]
GO
ALTER TABLE [dbo].[ObjectiveStatuses]  WITH CHECK ADD  CONSTRAINT [FK_ObjectiveStatuses_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ObjectiveStatuses] CHECK CONSTRAINT [FK_ObjectiveStatuses_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[PointTransfers]  WITH CHECK ADD  CONSTRAINT [FK_PointTransfers_Receiver] FOREIGN KEY([ReceiverUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PointTransfers] CHECK CONSTRAINT [FK_PointTransfers_Receiver]
GO
ALTER TABLE [dbo].[PointTransfers]  WITH CHECK ADD  CONSTRAINT [FK_PointTransfers_Sender] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PointTransfers] CHECK CONSTRAINT [FK_PointTransfers_Sender]
GO
ALTER TABLE [dbo].[PolicyCategories]  WITH CHECK ADD  CONSTRAINT [FK_PolicyCategories_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyCategories] CHECK CONSTRAINT [FK_PolicyCategories_Users_CreatedBy]
GO
ALTER TABLE [dbo].[PolicyCategories]  WITH CHECK ADD  CONSTRAINT [FK_PolicyCategories_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyCategories] CHECK CONSTRAINT [FK_PolicyCategories_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[RecognitionCategories]  WITH CHECK ADD  CONSTRAINT [FK_RecognitionCategories_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RecognitionCategories] CHECK CONSTRAINT [FK_RecognitionCategories_Users_CreatedBy]
GO
ALTER TABLE [dbo].[RecognitionCategories]  WITH CHECK ADD  CONSTRAINT [FK_RecognitionCategories_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RecognitionCategories] CHECK CONSTRAINT [FK_RecognitionCategories_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[RewardPolicies]  WITH CHECK ADD  CONSTRAINT [FK_RewardPolicies_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[PolicyCategories] ([Id])
GO
ALTER TABLE [dbo].[RewardPolicies] CHECK CONSTRAINT [FK_RewardPolicies_Categories]
GO
ALTER TABLE [dbo].[RewardPolicies]  WITH CHECK ADD  CONSTRAINT [FK_RewardPolicies_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RewardPolicies] CHECK CONSTRAINT [FK_RewardPolicies_Users_CreatedBy]
GO
ALTER TABLE [dbo].[RewardPolicies]  WITH CHECK ADD  CONSTRAINT [FK_RewardPolicies_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RewardPolicies] CHECK CONSTRAINT [FK_RewardPolicies_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[RoleComponent]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_RoleComponent_Child] FOREIGN KEY([ChildPermissionId])
REFERENCES [dbo].[Permissions] ([Id])
GO
ALTER TABLE [dbo].[RoleComponent] CHECK CONSTRAINT [FK_Permissions_RoleComponent_Child]
GO
ALTER TABLE [dbo].[RoleComponent]  WITH CHECK ADD  CONSTRAINT [FK_Permissions_RoleComponent_Parent] FOREIGN KEY([ParentPermissionId])
REFERENCES [dbo].[Permissions] ([Id])
GO
ALTER TABLE [dbo].[RoleComponent] CHECK CONSTRAINT [FK_Permissions_RoleComponent_Parent]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Products]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_Labels] FOREIGN KEY([LabelId])
REFERENCES [dbo].[Labels] ([Id])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_Labels]
GO
ALTER TABLE [dbo].[Translations]  WITH CHECK ADD  CONSTRAINT [FK_Translations_Languages] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[Translations] CHECK CONSTRAINT [FK_Translations_Languages]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Languages] ([Id])
GO
USE [master]
GO
